<!-- Miftakhul Jannah / 24010314120051
File: form_deteksi.html
form pengisian deteksi dini kehamilan -->

<!DOCTYPE html>
<html lang="en">
	{% include "head2.html" %}
<style type="text/css">

			</style>	
<body>
{% include "navbar2.html" %}
	<div class=" col-lg-offset-2 col-lg-8 col-lg-offset-2">
			<div class="content-wrapper">
			<!-- Content Header (Page header) -->

			  <h1><center>Deteksi Dini Kehamilan</center></h1>
			  <h2><center>Masukkan Data Ibu Hamil<center></h2>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
								<form role="form" action = "/hasildeteksi" method = "post" enctype="multipart/form-data">

											<!--<div class="form-row"> -->
												<div class="form-group">
												<label class="col-sm-4 col-sm-4 control-label">Umur</label>
												<div class="col-sm-6">
												<input class="form-control" placeholder="Umur" name="umur" type="number" required><span style ="color : red;">*</span>
												</div>
												</div>
												tahun
												<div style="clear: both;"></div><br>
												
												<div class="form-group">
												<label class="col-sm-4 col-sm-4 control-label">Hamil Ke-</label>
												<div class="col-sm-6">
												<input class="form-control" placeholder="Hamil Ke" name="hamilke" type="number" autofocus=""required><span style ="color : red;">*</span></div>
												</div> 
												<div style="clear: both;"></div><br>
												
												<div class="form-group">
												<label class="col-sm-4 col-sm-4 control-label">Riwayat Aborsi<br>(berapa kali)</label>
												<div class="col-sm-6">
												<input class="form-control" placeholder="riwayataborsi" name="riwayatabor" type="number" autofocus=""required>
												<span style ="color : red;">*</span>
												</div>
												</div>
												<div style="clear: both;"></div><br>
												
												<div class="form-group">
												<label class="col-sm-4 col-sm-4 control-label">Lingkar Lengan Atas</label>
												<div class="col-sm-6">
												<input class="form-control" pattern="[-+]?[0-9]*[.]?[0-9]+" placeholder="lila" name="lila" type="text" title = "Gunakan '.' jika bilangan desimal" required>
												<span style ="color : red;">*</span>
												</div>
												</div>
												<div style="clear: both;"></div><br>
												
												<div class="form-group">
												<label class="col-sm-4 col-sm-4 control-label">Tinggi Badan</label>
												<div class="col-sm-6">
												<input class="form-control" pattern="[-+]?[0-9]*[.]?[0-9]+" placeholder="tinggi badan" name="tb" type="text" title = "Gunakan '.' jika bilangan desimal" required> <span style ="color : red;">*</span>
												</div> 
												</div>
												cm
												<div style="clear: both;"></div><br>
												
												<div class="form-group">
												<label class="col-sm-4 col-sm-4 control-label">Berat Badan</label>
												<div class="col-sm-6">
												<input class="form-control" pattern="[-+]?[0-9]*[.]?[0-9]+" placeholder="berat badan" name="bb" type="text" title = "Gunakan '.' jika bilangan desimal" required><span style ="color : red;">*</span>
												</div>
												</div> 
												kg
												<div style="clear: both;"></div><br>
												
												<div class="form-group">
												<label class="col-sm-4 col-sm-4 control-label">Jarak Persalinan Terakhir</label>
												<div class="col-sm-6">
												<input class="form-control" placeholder="jarak persalinan" name="jp" type="number" autofocus="" required><span style ="color : red;">*</span>
												</div>
												</div>
												Bulan
												<div style="clear: both;"></div><br>
												
												<div class="form-group">
												  <label class="col-sm-4 col-sm-4 control-label">Cara Persalinan Terakhir</label>
												  <div class="col-sm-6">
												  <select id="cp" class="form-control" name="cp" required>
													<option selected>Pilih...</option>
													<option value="1"> Operasi</option>
													<option value="0">Tidak Operasi</option> 
												  </select><span style ="color : red;">*</span>
												 </div>
												 </div>
												 <div style="clear: both;"></div><br>
												 
												<div class="form-group">
												<label class="col-sm-4 col-sm-4 control-label">Hemoglobin</label>
												<div class="col-sm-6">
												<input class="form-control" pattern="[-+]?[0-9]*[.]?[0-9]+"  placeholder="hemoglobin" name="hb" type="text" title = "Gunakan '.' jika bilangan desimal" required> <span style ="color : red;">*</span>
												</div> 
												</div>
												<div style="clear: both;"></div>
												
												<div class="form-group">
												  <label class="col-sm-4 col-sm- control-label">Riwayat Penyakit</label>
												  <div class="col-sm-6">
												  <select id="cp" class="form-control" name="rp" required>
													<option selected>Pilih...</option>
													<option value="1">Positif</option>
													<option value="0">Negatif</option>
												  </select> <span style ="color : red;">*</span>
												</div>
												</div>
												<div style="clear: both;"></div><br>
												
												<center><input type="submit" class="btn btn-primary btn-lg " name="submit" value="proses"/>
											<!--</div> -->
										</form>
									</div><!--/.row-->
								</div>
							</div>
	
						</div>
								</div>
								</div><!--/.div id-->
			</div>
			<!-- /.content -->
		 

	</div>	<!--/.main-->

	{% include "scripts.html" %}

</body>
</html>