<!-- Miftakhul Jannah / 24010314120051
File: head.html
menampilkan nama headbar "deteksi kehamilan risiko tinggi" -->

<head>
<title>DETEKSI KEHAMILAN RISIKO TINGGI</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../static/css/uniform.css" />
<link rel="stylesheet" href="../static/css/select2.css" />
<link rel="stylesheet" href="../static/css/matrix-style.css" />
<link rel="stylesheet" href="../static/css/matrix-media.css" />
<link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/static/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>