<!-- Miftakhul Jannah / 24010314120051
File: navbar2.html
menampilkan header menu pada index awal  -->

<!--top-Header-menu-->
<div class="navbar navbar-inverse">
  <ul class="nav navbar-nav navbar-left">
	<li class="dropdown"><a class="dropdown-toggle count-info" href="/">Beranda
	</a>
	</li>
	<li class="dropdown"><a class="dropdown-toggle count-info" href="/jst">JST LVQ2
	</a>
	</li>
	<li class="dropdown"><a class="dropdown-toggle count-info" href="/tentangkami">tentang kami
	</a>
	</li>
	<li class="dropdown"><a class="dropdown-toggle count-info"href="/login">login
	</a>
	</li>
	</ul>
</div>