<!-- Miftakhul Jannah / 24010314120051
File: scripts.html
menampilkan script-script pendukung yang digunakan pada deteksi dini kehamilan  -->

<script src="static/js2/jquery-1.11.1.min.js"></script>
	<script src="static/js2/bootstrap.min.js"></script>
	<script src="static/js2/chart.min.js"></script>
	<script src="static/js2/chart-data.js"></script>
	<script src="static/js2/easypiechart.js"></script>
	<script src="static/js2/easypiechart-data.js"></script>
	<script src="static/js2/bootstrap-datepicker.js"></script>
	<script src="static/js2/custom.js"></script>
	<script>
	window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
	</script>